/* ## Colors */

/* ### Primary */

$purple50: hsl(260, 100%, 95%);
$purple300: hsl(264, 82%, 80%);
$purple500: hsl(263, 55%, 52%);

/* ### Neutral */

$white: hsl(0, 0%, 100%);
$grey100: hsl(214, 17%, 92%);
$grey200: hsl(0, 0%, 81%);
$grey400: hsl(224, 10%, 45%);
$grey500: hsl(217, 19%, 35%);
$darkblue: hsl(219, 29%, 14%);
$black: hsl(0, 0%, 7%);


/* ## Fonts */
$main-font: "Barlow Semi Condensed", sans-serif;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  min-height: 100vh;
  margin: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;

  display: grid;
  grid-gap: 2rem;
}

.testimonial {
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 1rem 1rem 2rem $grey200, 1rem -1rem 2rem $grey200;
}

.testimonial:nth-child(1) {
  background-color: $purple500;
  color: $white;
}
.testimonial:nth-child(2) {
  background-color: $grey500;
  color: $white;
}
.testimonial:nth-child(4) {
  background-color: $darkblue;
  color: $white;
}